#define IDD_DLG_MAIN 1000
#define IDC_STC_DOWN 1001
#define IDC_STC_UP 1002
#define IDD_DLG_MORE 1100
#define IDC_CBO_NETCARD 1101
#define IDC_STC_STATUS_L 1130
#define IDC_STC_MAC_L 1131
#define IDC_STC_LIMT_L 1132
#define IDC_STC_STATUS_T 1133
#define IDC_STC_MAC_T 1134
#define IDC_STC_LIMT_T 1135
#define IDC_GRP_IN 1102
#define IDC_STC_INSPEED_L 1103
#define IDC_STC_INOCT_L 1104
#define IDC_STC_INUCAST_L 1105
#define IDC_STC_INNUCAST_L 1106
#define IDC_STC_INDISCARD_L 1107
#define IDC_STC_INERROR_L 1108
#define IDC_STC_INUNKNOWN_L 1109
#define IDC_STC_INSPEED_T 1110
#define IDC_STC_INOCT_T 1111
#define IDC_STC_INUCAST_T 1112
#define IDC_STC_INNUCAST_T 1113
#define IDC_STC_INDISCARD_T 1114
#define IDC_STC_INERROR_T 1115
#define IDC_STC_INUNKNOWN_T 1116
#define IDC_GRP_OUT 1117
#define IDC_STC_OUTSPEED_L 1118
#define IDC_STC_OUTOCT_L 1119
#define IDC_STC_OUTUCAST_L 1120
#define IDC_STC_OUTNUCAST_L 1121
#define IDC_STC_OUTDISCARD_L 1122
#define IDC_STC_OUTERROR_L 1123
#define IDC_STC_OUTSPEED_T 1124
#define IDC_STC_OUTOCT_T 1125
#define IDC_STC_OUTUCAST_T 1126
#define IDC_STC_OUTNUCAST_T 1127
#define IDC_STC_OUTDISCARD_T 1128
#define IDC_STC_OUTERROR_T 1129
#define IDC_STC_TRANSP 1136
#define IDC_TRB_TRANSP 1137
#define IDC_CHK_TOP 1138
#define IDD_DLG_ABOUT 1300
#define IDC_BTN_OK 1301
#define IDC_STC1 1302
#define IDR_POPMENU1 10000
#define IDM_MORE 10001
#define IDM_TOP 10002
#define IDM_ABOUT 10003
#define IDM_EXIT 10004
#define TrayIcon 100
#define IDR_VERSION1 1

#include <afxres.h>
#include <commctrl.h>
#include "version.h"

IDD_DLG_MAIN DIALOGEX 600,0,100,14
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_BORDER
EXSTYLE WS_EX_TOOLWINDOW
BEGIN
  CONTROL "↓0.00 KB/s",IDC_STC_DOWN,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,0,0,50,14,WS_EX_TRANSPARENT
  CONTROL "↑0.00 KB/s",IDC_STC_UP,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,0,50,14,WS_EX_TRANSPARENT
END

IDD_DLG_MORE DIALOGEX 0,0,160,262
CAPTION "More"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTERMOUSE
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "请选择要监测的网卡",IDC_CBO_NETCARD,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|CBS_NOINTEGRALHEIGHT|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,4,4,152,50
  CONTROL "状态:",IDC_STC_STATUS_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,18,20,8
  CONTROL "MAC:",IDC_STC_MAC_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,4,30,20,8
  CONTROL "性能:",IDC_STC_LIMT_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,70,18,20,8
  CONTROL "",IDC_STC_STATUS_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,26,18,34,8
  CONTROL "",IDC_STC_MAC_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,26,30,130,8
  CONTROL "",IDC_STC_LIMT_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,92,18,64,8
  CONTROL "下载:",IDC_GRP_IN,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,2,44,156,96
  CONTROL "速度:",IDC_STC_INSPEED_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,56,36,8
  CONTROL "流量:",IDC_STC_INOCT_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,68,36,8
  CONTROL "单播包:",IDC_STC_INUCAST_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,80,36,8
  CONTROL "非单播包:",IDC_STC_INNUCAST_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,92,36,8
  CONTROL "弃包:",IDC_STC_INDISCARD_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,104,36,8
  CONTROL "错包:",IDC_STC_INERROR_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,116,36,8
  CONTROL "未知包:",IDC_STC_INUNKNOWN_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,128,36,8
  CONTROL "",IDC_STC_INSPEED_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,56,100,8
  CONTROL "",IDC_STC_INOCT_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,68,100,8
  CONTROL "",IDC_STC_INUCAST_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,80,100,8
  CONTROL "",IDC_STC_INNUCAST_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,92,100,8
  CONTROL "",IDC_STC_INDISCARD_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,104,100,8
  CONTROL "",IDC_STC_INERROR_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,116,100,8
  CONTROL "",IDC_STC_INUNKNOWN_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,128,100,8
  CONTROL "上传",IDC_GRP_OUT,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,2,150,156,84
  CONTROL "速度:",IDC_STC_OUTSPEED_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,162,36,8
  CONTROL "流量:",IDC_STC_OUTOCT_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,174,36,8
  CONTROL "单播包:",IDC_STC_OUTUCAST_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,186,36,8
  CONTROL "非单播包:",IDC_STC_OUTNUCAST_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,198,36,8
  CONTROL "弃包:",IDC_STC_OUTDISCARD_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,210,36,8
  CONTROL "错包:",IDC_STC_OUTERROR_L,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,10,222,36,8
  CONTROL "",IDC_STC_OUTSPEED_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,162,100,8
  CONTROL "",IDC_STC_OUTOCT_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,174,100,8
  CONTROL "",IDC_STC_OUTUCAST_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,186,100,8
  CONTROL "",IDC_STC_OUTNUCAST_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,198,100,8
  CONTROL "",IDC_STC_OUTDISCARD_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,210,100,8
  CONTROL "",IDC_STC_OUTERROR_T,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,50,222,100,8
  CONTROL "透明度",IDC_STC_TRANSP,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,36,244,24,8
  CONTROL "",IDC_TRB_TRANSP,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE|TBS_TOOLTIPS,60,244,100,10
  CONTROL "穿透",IDC_CHK_TOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,2,244,32,8
END

IDD_DLG_ABOUT DIALOGEX 10,10,166,96
CAPTION "About"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
EXSTYLE WS_EX_CONTROLPARENT|WS_EX_WINDOWEDGE|WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "&OK",IDC_BTN_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,58,70,50,14
  CONTROL "这是我学习 C 语言的第一个 GUI 程序。\n值得记念！\n\n这个小巧的家伙用起来也不错哦！\n\nE-mail: lifenjoiner@163.com",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,14,10,138,50
END

IDR_POPMENU1 MENU
BEGIN
  POPUP "Main"
  BEGIN
    MENUITEM "&More...",IDM_MORE
    MENUITEM "&Top",IDM_TOP
    MENUITEM "&About",IDM_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "E&xit",IDM_EXIT
  END
END

TrayIcon ICON DISCARDABLE "Icon32_16C.ico"

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,2,0
PRODUCTVERSION 1,2,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "08040000"
    BEGIN
      VALUE "FileVersion", "1.0.2.0\0"
      VALUE "ProductVersion", "1.0.2.0\0"
      VALUE "FileDescription", "Download and Upload Monitor\0"
      VALUE "OriginalFilename", "DU_Monitor.exe\0"
      VALUE "ProductName", "DU Monitor\0"
      VALUE "CompanyName", "lifenjoiner\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x0000
  END
END

